 body{
    background-color: #f8f8f8;
}

.space{
   margin-left: 10px;
   margin-right: 10px;
}

.top{
    margin-top: 30px;
}
.warden_demo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deco{
    text-decoration: none;
}

.warden_logo{
    font-size: 24px;
    font-weight: 800;
}

.new{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.tutorials{
    color: #FF8C42;
    display: flex;
    justify-content: center;
}

.blue_bg{
    border: solid #001f3f;
    padding: 80px;
    background-color: #001f3f; 
    margin-top: 50px;
    border-radius: 10px;
}

.long_top{
    margin-top: 100px;
}

.what_is_elixir{
    font-size: 16px;
    font-weight: 700;
    color: #FF8C42;
}

.started{
    border: 1px solid #ffffff04;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff04;
}

.doc_demo{
    display: none;
}

.warden_img{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.menu_bar{
    width: 20px;
    margin-top: 0px;
}

.text{
    font-size: 16px;
    font-weight: 400;
}

.request{
    border: 1px solid #001f3f;
    padding: 12px;
    border-radius: 5px;
    background-color: #001f3f;
    color: white;
    font-size: 16; 
    font-weight: 600;
    cursor: pointer;
    align-items: center;
}

.learn_more{
    border: 1px solid #001f3f;
    padding: 6px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #001f3f;
    width: 100px;
    font-size: 16; 
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    display: flex;

}

.explore_elixir{
    border: 1px solid #001f3f;
    padding: 12px;
    border-radius: 5px;
    background-color: #001f3f;
    color: white;
    font-size: 16; 
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    margin-top: 20px;
    /* margin-left: 160px; */
}

.contact_sales{
    border: 1px solid #001f3f;
    padding: 12px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #001f3f;
    font-size: 16; 
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    margin-top: 20px;
}

.social{
    width: 20px;
}

.container{
    position: relative;
    width: 100%;
    height:350px;
    object-fit: cover;
}

.box{
    position: relative;
    width: 1153px;
    height:350px;
    object-fit: cover;
}

.text_overlay{
    position: absolute;
    top: 100px;
    left: 20px;
}

.text_overlay_2{
    position: absolute;
    top: 50px;
    left: 430px;
    text-align: center;
}

.text_color_white{
     color: white;
}

.ai{
    font-size: 18px;
    font-weight: 400;
}

.precise{
    font-size: 28px;
    font-weight: 600;
}

.drone{
    border-radius: 10px; 
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.drone2{
    width: 100%;
    border-radius: 16px;
}

.cutting_edge{
    font-size: 28px; 
    font-weight: 600;
    color: #001f3f;
}

.mission{
    font-size: 16px;
     font-weight: 400;
     color: #001f3f;
}

.email_sub{
   padding: 10px;
}

.elixir{
    font-size: 120px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #001f3f10;
}

.elixir_warden{
    margin-top: -25px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #ff8c42;
    display: flex;
    justify-content: center;
}

.unlock{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 600;
    color: #001f3f;
    display: flex;
    justify-content: center;
    text-align: center;
}

.enhance{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}

.cloud{
    font-size: 16px;
    font-weight: 400;
}

.fre_quest{
    font-size: 24px;
    font-weight: 600;
    color: #001f3f;
    margin-bottom: 5px;
}

.lumb_day{
    display: flex;
    gap: 10px;
}

.layer{
    border: 1px solid #c4c4c424; 
    padding: 15px;
    background-color: #c4c4c424;
}

.help{
    margin-top: -5px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.warden_simplify{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #00000050;
}

.benefit{
    border: 1px solid #c4c4c424; 
    padding: 15px;
    background-color: #c4c4c424;
    margin-top: 10px;
}

.analytics_analysis{
    border: 1px solid #c4c4c424; 
    padding: 15px;
    background-color: #c4c4c424;
    margin-top: 5px;
}

.blog_post_img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.m_top{
    margin-top: 0px;
}

.white_bg{
    border: solid #ffffff;
    padding: 80px;
    background-color: #ffffff; 
    margin-top: 50px;
    border-radius: 10px;
    height: 650px;
}

.revo{
    font-size: 16px;
    font-weight: 700;
}

.sub{
    font-size: 16px;
    font-weight: 600;
    color: #001f3f30;
}

.sub_news{
    font-size: 18px;
    font-weight: 600;
    color: #001f3f;
}

.powered{
    font-size: 16px;
    font-weight: 600;
    color: #001f3f;
}

.sect{
    display: grid;
}

.grid{
    display: grid;
    justify-content: center;
}

.flex_gap{
    display: grid;
    gap: 20px;
    align-items: center;
}

.inbetween{
    justify-content: space-between;
}

.sub_bg{
     border: solid #ffffff;
    padding: 80px;
    background-color: #ffffff; 
    margin-top: 50px;
    border-radius: 10px;
    height: 14 0px;
}

.split{
    display: flex;
    align-items: center;
    gap: 50px;
}

.copy{
    display: flex;
    align-items: center;
}

.below{
    margin-bottom: 300px;
}

.w_3_img{
    width: 100%;
    border-radius: 16px;
}

.mtop_3{
    margin-top: 50px;
}

.calendar{
    width: 16.67px;
}

.read_post{
    color: #FF8C42;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.read_doc{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.features{
    font-size: 20px;
    font-weight: 600;
}


@media only screen and (min-width:600px){

}






@media only screen and (min-width:992px){
.space{
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: -15px;
}

.doc_demo{
    display: flex; 
    gap: 30px;
    font-size: 16px;
    font-weight: 500; 
    align-items: center;
}

.menu_bar{
    display: none;
}

.blog_post_img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.contact_sales{
    margin-top: 30px;
}

.warden_demo{
    margin-left: 20px;
    margin-right: 20px;
}

.text_color{
    color: #001f3f;
}

.w_3_img{
    width: 700px;
    border-radius: 16px;
}

.space_up{
    border-bottom: 2px solid #c4c4c424;
    margin-top: 5px;
}

.container{
    height:auto;
    object-fit: cover;
    margin-top: 10px;
}

.grid{
    display: grid;
    justify-content: center;
}

.ai{
    font-size: 20px;
    font-weight: 400;
}

.precise{
    font-size: 40px;
    font-weight: 600;
}

.drone2{
    width: 100%;
    border-radius: 16px;
}

.flex_gap{
    grid-template-columns: auto auto;
}

.sect{
    display: grid;
    grid-template-columns: auto auto;
}

.split_half{
    display: flex;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.pic{
    display: flex;
    gap: 30px;
    align-items: center;
}

.split_three{
    display: flex;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 20px;
}

.email_sub{
    padding-right: 80px;
}

.elixir{
    font-size: 300px;
    display: flex;
    justify-content: center;
}

.elixir_warden{
    margin-top: -60px;
}

.enhance{
     line-height: 35px;
}

.explore_elixir{
    display: flex;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
}

.Ai_features{
    border: 1px solid c4c4c432; 
    padding: 16px;
    width: 25%;
    border-radius: 10px;
    background-color: white;
}

.unlock_elixir{
    display: flex;
    grid-template-columns: auto auto;
    align-items: center;
}

.box{
    width: 10px;
    height: auto;
    object-fit: cover;
}

.split_four{
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 50px;
}

.key_features{
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
}

.warden_copyright{
    display: flex; 
    justify-content: space-between;
}

.sub_bg{
     border: solid #ffffff;
    padding: 80px;
    background-color: #ffffff; 
    margin-top: 50px;
    border-radius: 10px;
    height: 30px;
}

.white_bg{
    border: solid #ffffff;
    padding: 80px;
    background-color: #ffffff; 
    margin-top: 50px;
    border-radius: 10px;
    height: 250px;
}
}